<div class="site-mobile-menu">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>
              
<div class="site-section site-hero">
  <div class="container">
  <div class="row align-items-center">
    <div class="col-md-10">
      <span class="d-block mb-3 caption" data-aos="fade-up" data-aos-delay="100">Conference 2019</span>
      <h1 class="d-block mb-4" data-aos="fade-up" data-aos-delay="200">Web Development Conference 2020</h1>
      <span class="d-block mb-5 caption" data-aos="fade-up" data-aos-delay="300">September 6th-7th, Kampala, Uganda</span>
      <a href="#" class="btn-custom" data-aos="fade-up" data-aos-delay="400"><span>Buy Tickets</span></a>
    </div>
  </div>
  </div>
  </div>

  <app-speakers></app-speakers>
  <app-programs></app-programs>
  <app-sponsors></app-sponsors>
  <app-news></app-news>
  <app-footer></app-footer>


  