<div class="site-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="site-section-heading">
            <h2>Speakers</h2>
          </div>
        </div>
        <div class="col-lg-5 mt-5 pl-lg-5" data-aos="fade-up" data-aos-delay="200">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus error deleniti dolores necessitatibus eligendi. Nesciunt repellendus ab voluptatibus. Minima architecto impedit eaque molestiae dicta quam. Cum ducimus. Culpa distinctio aperiam</p>
        </div>
      </div>

      <div class="row align-items-center speaker">
        <div class="col-lg-6 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
          <img src="assets/images/person_1.jpg" alt="Image" class="img-fluid">
        </div>
        <div class="col-lg-6 ml-auto">
          <h2 class="text-white mb-4 name" data-aos="fade-right" data-aos-delay="200">Titus Weikama</h2>
          <div class="bio pl-lg-5">
            <span style="color: #9b845a;" class="text-uppercase  d-block mb-3" data-aos="fade-right" data-aos-delay="300">CEO/Web Developer</span>
            <p class="mb-4" data-aos="fade-right" data-aos-delay="400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus error deleniti dolores necessitatibus eligendi. Nesciunt repellendus ab voluptatibus. Minima architecto impedit eaque molestiae dicta quam. Cum ducimus. Culpa distinctio aperiam</p>
            <p data-aos="fade-right" data-aos-delay="500">
              Follow Titus &mdash;
              <a href="#" class="p-2"><span class="icon-facebook social"></span></a>
              <a href="#" class="p-2"><span class="icon-twitter social"></span></a>
              <a href="#" class="p-2"><span class="icon-github social"></span></a>
            </p>
          </div>
        </div>
      </div>

      <div class="row align-items-center speaker">
        <div class="col-lg-6 mb-5 mb-lg-0 order-lg-2" data-aos="fade" data-aos-delay="100">
          <img src="assets/images/person_2.jpg" alt="Image" class="img-fluid">
        </div>
        <div class="col-lg-6 ml-auto order-lg-1">
          <h2 class="text-white mb-4 name" data-aos="fade-left" data-aos-delay="200">Amadla Waters</h2>
          <div class="bio pr-lg-5">
            <span style="color: #9b845a;"  class="text-uppercase  d-block mb-3" data-aos="fade-left" data-aos-delay="300">Web Designer</span>
            <p class="mb-4" data-aos="fade-left" data-aos-delay="400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus error deleniti dolores necessitatibus eligendi. Nesciunt repellendus ab voluptatibus. Minima architecto impedit eaque molestiae dicta quam. Cum ducimus. Culpa distinctio aperiam</p>
            <p data-aos="fade-left" data-aos-delay="500">
              Follow Amadla &mdash;
              <a href="#" class="p-2"><span class="icon-facebook social"></span></a>
              <a href="#" class="p-2"><span class="icon-twitter social"></span></a>
              <a href="#" class="p-2"><span class="icon-github social"></span></a>
            </p>
          </div>
        </div>
      </div>

      <div class="row align-items-center speaker">
        <div class="col-lg-6 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
          <img src="assets/images/person_3.jpg" alt="Image" class="img-fluid">
        </div>
        <div class="col-lg-6 ml-auto">
          <h2 class="text-white mb-4 name" data-aos="fade-right" data-aos-delay="200">Ben Wycliff</h2>
          <div class="bio pl-lg-5">
            <span style="color: #9b845a;"  class="text-uppercase  d-block mb-3" data-aos="fade-right" data-aos-delay="300">Web Designer</span>
            <p class="mb-4" data-aos="fade-right" data-aos-delay="400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus error deleniti dolores necessitatibus eligendi. Nesciunt repellendus ab voluptatibus. Minima architecto impedit eaque molestiae dicta quam. Cum ducimus. Culpa distinctio aperiam</p>
            <p data-aos="fade-right" data-aos-delay="500">
              Follow Ben &mdash;
              <a href="#" class="p-2"><span class="icon-facebook social"></span></a>
              <a href="#" class="p-2"><span class="icon-twitter social"></span></a>
              <a href="#" class="p-2"><span class="icon-github social"></span></a>
            </p>
          </div>
        </div>
      </div>

    
      <div class="row align-items-center speaker">
        <div class="col-lg-6 mb-5 mb-lg-0 order-lg-2" data-aos="fade" data-aos-delay="100">
          <img src="assets/images/person_4.jpg" alt="Image" class="img-fluid">
        </div>
        <div class="col-lg-6 ml-auto order-lg-1">
          <h2 class="text-white mb-4 name" data-aos="fade-left" data-aos-delay="200">Chris Mathews</h2>
          <div class="bio pr-lg-5">
            <span style="color: #9b845a;"  class="text-uppercase  d-block mb-3" data-aos="fade-left" data-aos-delay="300">Web Designer</span>
            <p class="mb-4" data-aos="fade-left" data-aos-delay="400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus error deleniti dolores necessitatibus eligendi. Nesciunt repellendus ab voluptatibus. Minima architecto impedit eaque molestiae dicta quam. Cum ducimus. Culpa distinctio aperiam</p>
            <p data-aos="fade-left" data-aos-delay="500">
              Follow Chris &mdash;
              
                <a href="#" class="p-2"><span class="icon-facebook social"></span></a>
                <a href="#" class="p-2"><span class="icon-twitter social"></span></a>
                <a href="#" class="p-2"><span class="icon-github social"></span></a>
              
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
